{
  "jsxSingleQuote": true,
  "singleQuote": true,
  "semi": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "tabWidth": 2,
  "jsxAttributeQuotes": "single",
  "overrides": [
    {
      "files": ["*.scss", "*.css"],
      "options": {
        "singleQuote": false,
        "printWidth": 120
      }
    }
  ]
}
