@import "@/styles/variables.scss";

.navBarWrapper {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 10rem;
  backdrop-filter: blur(4px);

  z-index: 100;

  font-size: 1.6rem;
  padding: 0 1.6rem;
}

.navLink {
  font-size: 1.6rem;
  padding: 0 1.6rem;
}
