@import "@/styles/variables.scss";

.detailImageSection {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: $color-primary;
  z-index: 1;
}

.imgWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  img {
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.scrollDownWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  position: absolute;
  bottom: 5vh;
  left: 50%;
  transform: translate(-50%, 0);

  img {
    width: auto;
    height: 10rem;
  }
}
