.aboutLayoutWrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  margin-bottom: 200vh;
}

.aboutRow {
  grid-template-rows: repeat(3, 1fr);
}

.scrollDownWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  position: fixed;
  bottom: 5vh;
  left: 50%;
  transform: translate(-50%, 0);

  opacity: 0.3;

  img {
    width: auto;
    height: 10rem;
  }
}
