@import "@/styles/variables.scss";

.projectLayoutWrapper {
  height: 100%;
  width: 100%;
}

.projectGridSection {
  padding-top: 10rem;
  padding-bottom: 5rem;
  height: 100vh;
}

.skillTitle {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  padding-left: $grid-padding;

  margin-bottom: 3rem;
}


