@import "@/styles/variables.scss";

.contactLayoutWrapper {
  position: sticky;
  bottom: 0;
  background-color: $color-primary;
}

.contentContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10rem 0;

  gap: 5rem;
}