@import "@/styles/variables.scss";

.contactLayoutWrapper {
  display: flex;

  justify-content: center;
  align-items: center;

  position: sticky;
  bottom: 0;
  height: 80vh;

  background-color: $color-primary;
}

.contentContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10rem 0;

  gap: 2rem;
}

.linkContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.linkImageWrapper {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
    height: 100%;
  }
}

.contactContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  min-width: 50vw;
}
