@import '@/styles/variables.scss';

.mainTextWrapper {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  height: auto;
  width: 100%;

  background-color: $color-primary;

  margin-top: calc((100svh - calc(min(100vw - var(--scrollbar), 160.3076923077svh)* .6238003839))* .5* -1 - min(min(120px, 7.5%), 11.4871794872svh));
}

.text {
  display: inline-block;

  font-size: 100px;
  color: $color-white;
  word-break: keep-all;
}
